.App {
  text-align: center;
}

.App-header {
  background-color: #603939;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.task__list{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding-inline-start: 0;
  list-style-type: none;
}
.task__input{
    padding: 16px;
    width: 100%;
    font-size: 16px;
    line-height: 1.16;
    border: 1px solid;
    border-radius: 8px;
    background-color: transparent;
    color: #5e1515;
    align-self: flex-end;
}
.task__input:focus {
  border-color: white;
  outline: none;
  color: white;
}

.task__input::placeholder {
  border-color: white;
  color: #5e1515;
  font-size: 16px;
  line-height: 1.16;
}

.task__input:focus::placeholder {
  border-color: white;
}
.task__item{
    margin: 10px 0 5px 0;
}
.task__add {
  background-color: #5e1515;
  padding: 16px;
  border-radius: 10px;
  color: white;
  border-width: 0;
}

.delete__btn{
    background-color: #5e1515;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border-width: 0;
    align-self: center;
}